{% extends "base.html" %}
{load static}

{% block title %} Главная {% endblock %}
{% block nav-title %} Главная {% endblock %}

{% block styles %}
  <style>
   .container {
        margin-top: 100px;
   }
   .dir-bar{
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
   }
   .dir-line{
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 100px;
   }
   h6 {
        margin-bottom: 25px;
        color: DimGray;
        font-style: italic;
   }
   .form-control {
        background-color: DarkGray;
        color: white;
        placeholder-color: white;
   }
  </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
      <div class="container">
        <h6>Выберите начальную дату получения данных, введите логин и пароль от сайта и выберите активы:</h6>
          {% csrf_token %}
          <div class="row">
            <div class="col-4">
              <input id="input_date" type="date" class="form-control" name="date" value="{{ date }}">
            </div>
            <div class="col-3">
              <input id="input_login" type="text" placeholder="Логин" class="form-control" name="login" value="{{ login }}">
            </div>
            <div class="col-3">
              <input id="input_password" type="text" placeholder="Пароль" class="form-control" name="password" value="{{ password }}">
            </div>
            <div class="col-2">
              <script language="javascript">
                  function GetData()
                  {alert('После нажатия кнопки «OK» начнется загрузка данных. Не закрывайте страницу до появления сообщения об ее окончании');}        
              </script>
              <input id="progress-bar-submit" type="submit" class="btn btn-secondary" value="Получить данные" OnClick="GetData();">
            </div>
          </div>
      </div>
      <div class="container" style="margin-top: 30px;">
        {% for active in actives %}
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="{{active}}" name="{{active}}">
          <label class="form-check-label" for="{{active}}">{{active}}</label>
        </div>
        {% endfor %}
      </div>
    </form>
    <script>
      {% if message != '' %}
        alert('{{message}}');
      {% endif %}
    </script>
{% endblock %}