{% extends "base.html" %}
{load static}

{% block title %} Главная {% endblock %}

{% block styles %}
  <style>
   .container {
        margin-top: 100px;
   }
   .dir-bar{
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
   }
   .dir-line{
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 100px;
   }
   h6 {
        margin-bottom: 25px;
        color: DimGray;
        font-style: italic;
   }
   .form-control {
        background-color: DarkGray;
        color: white;
        placeholder-color: white;
   }
  </style>
{% endblock %}

{% block scripts %}
    {% comment %} <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
    </script>

    <script>
        // vanilla JS version
        document.addEventListener("DOMContentLoaded", function () {
            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
            CeleryProgressBar.initProgressBar(progressUrl);
        });
    </script> {% endcomment %}
{% endblock %}

{% block content %}
            <!--{%if loaded == 0%}
            <div aria-live="polite" aria-atomic="true" style="position: relative; display: none; min-height: 200px;">
                <div style="position: absolute; top: 0; right: 0;">
                     <div class="toast" data-autohide="true" data-delay="5000">
                      <div class="toast-header">
                        <strong class="mr-auto text-primary">Уведомление</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                      </div>
                      <div class="toast-body">
                        Были получены данные с {{ date }} по настоящее время
                      </div>
                    </div>
               </div>
            </div>
            {% endif %}-->

    <div class="container">
      <h6>Выберите начальную дату получения данных, введите логин и пароль от сайта:</h6>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-2">
                <input id="input_date" type="date" class="form-control" name="date" value="{{ date }}">
              </div>
              <div class="col-3">
                <input id="input_login" type="text" placeholder="Логин" class="form-control" name="login" value="{{ login }}">
              </div>
              <div class="col-3">
                <input id="input_password" type="text" placeholder="Пароль" class="form-control" name="password" value="{{ password }}">
              </div>
              <div class="col-2">
                <input id="input_active" type="text" placeholder="Код актива" class="form-control" name="active" value="{{ active }}">
              </div>
              <div class="col-2">
                <script language="javascript">
                    function b()
                    {alert('После нажатия кнопки «OK» начнется загрузка данных. Не закрывайте страницу до появления сообщения об ее окончании');}        
                </script>
                <input id="progress-bar-submit" type="submit" class="btn btn-secondary" value="Получить данные" OnClick="b();">
              </div>
            </div>
        </form>
    </div>
    <script>
      {% if message != '' %}
        alert('{{message}}');
      {% endif %}
    </script>
    {% comment %} {% if not task_id is None %}
        <div class='progress-wrapper dir-bar'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
        </div>
        <div id="progress-bar-message" class="dir-line"></div>
    {% endif %} {% endcomment %}
    

    
{% endblock %}