{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "jquery/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "jquery/semantic.min.css" %}">
    {% block styles %} {% endblock %}

    <script type="text/javascript" src="{% static "jquery/jquery-3.5.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "celery_progress/celery_progress.js" %}"></script>
    <script type="text/javascript" src="{% static "plotly.min.js" %}"></script>
    {% block scripts %} {% endblock %}

    <style>
    .chart_part{
        width: 50%;
    }
    .wrapper_chart_top {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .wrapper_chart {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    </style>


</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand">Online-мониторинг</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "main_url" %}">Главная<br>страница</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "data_url" %}">Таблица<br>данных</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "gr_data_op" %}">Графики по данным.<br>Открытые позиции</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "gr_data_np" %}">Графики по данным.<br>Количество лиц</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "gr_online_op" %}">Онлайн-графики.<br>Открытые позиции</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "gr_online_np" %}">Онлайн-графики.<br>Количество лиц</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

</body>
</html>